pre {
  background: #494f5c !important;
}

pre code {
  background: #494f5c;
  font-size: 1.15em;
}

.content a {
  box-shadow: inset 0 -1px 0 #c6cddb;
  transition-property: background-color color;
  transition-duration: 0.4s;
}

.content a:hover {
  /* background-color: #f7cc4c; */
  background-color: #c6cddb;
  color: #494f5c;
}

.footnote-ref a, 
.footnote-ref a:hover,
a.footnote-return,
a.footnote-return:hover {
  background-color: inherit;
  transition-property: none;
  box-shadow: none;
  color: inherit;
}
